/* body */

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Kavivanar', cursive;
  font-weight: normal;
}

h1 {
  color: red;
  text-align: center;
}

h2 {
  font-size: 2rem;
  color: #A51F10;
  margin: 0;
}

a {
  color: #DA0090;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

body {
  margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
  font-family: 'Open Sans', sans-serif;
}



article {
  padding-left: 1rem;
  text-align: center;
  padding-right: 1.3rem;
}

article img {
  float: left;
  margin: 0 1rem 1rem 0;
  border-radius: 1rem;
}

article::after {
  content: "";
  display: table;
  clear: both;
}

.img-logo {
  padding-top: 1rem;
}

/* Navigation */

nav {
  background-color: #f2f2f2;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nav-logo {
  font-size: 1.2em;
  letter-spacing: 3px;
  font-weight: bold;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  width: 70%;
}

.nav-links ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.nav-links li {
  display: inline-block;
}

.nav-links a {
  text-decoration: none;
  display: block;
  color: green;
  padding: 0.5rem 1rem;
  font-size: 19px;
}

.nav-links a:hover {
  background-color: #001dda;
  color: white;
  text-decoration: none;
}

.menu {
  display: none;
  cursor: pointer; /* make a hand pointer when we got on it*/
}

.menu .line1,
.menu .line2,
.menu .line3 {
  width: 24px;
  height: 3px;
  background-color: green;
  transition: .3s ease;
}

.menu .line2 {
  margin: 0.2rem 0rem;
}

@media screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
  }

  .menu {
    display: block;
  }

  .nav-links {
    position: absolute;
    background-color: #f2f2f2;
    top: 8vh;
    right: 0;
    width: 9rem;
    height: auto;
    flex-flow: column wrap;
    align-items: left;
    justify-content:center;
    transform: translateX(100%);
    transition: 0.5s ease;
  }

  .nav-links li {
    opacity: 0;
  }

  .nav-active {
    transform: translateX(0);
  }

  .close .line1 {
    transform: rotate(-45deg) translate(-5px, 3px);
    transition: .3s ease;
    background-color: red;
  }

  .close .line2 {
    opacity: 0;
  }

  .close .line3 {
    transform: rotate(45deg) translate(-5px, -3px);
    transition: .3s ease;
    background-color: red;
  }
}

@keyframes linksFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

/* End of Navigation */

/* Contact Form */

fieldset {
  border: 5px solid black;
  border-radius: 10px;
  margin-bottom: 2rem;
}

legend {
  font-size: 1.3rem;
  font-weight: bold;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  display: block;
  font-family: "Shadows Into Light", cursive;
}

label {
  display: inline-block;
  padding: 0.3rem;
}

textarea {
  height: 10rem;
  padding: 1rem;
}

button:hover {
  color: #7079d8;
  background-color: white;
}

/* End of Contact Form */


footer {
  text-align: center;
  font-size: 0.8rem;
  border-top: solid #0f00da; /* above part of footer */
}

/* footer part make the liks stay at side by side */
footer ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

footer li {
  display: inline-block;
}

.logo {
  border-radius: 40%;
  height: 150px;
  width: 150px;
}

p {
  text-align: justify;
}